.notification {

    &.notification-error {
        color: white;
    }
}

.video-react {
    background-color: transparent;
}

.video-anim {
    .video-react-big-play-button {
        display: none !important;
    }
}


.btn-outline-light:focus, .btn-outline-primary:focus {
    box-shadow: 0 0 0 0.2rem $color-highlight !important;
}
